.loader__container {
  width: 700px;
  margin: 80px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  width: 800px;
  margin: 80px auto 80px;
  display: flex;
  align-items: center;
}

.login__image {
  flex: 1 1 50%;
  .login__image--img {
    width: 100%;
    height: auto;
  }
}

.login__form {
  padding: 40px;
  flex: 1 1 50%;

  .login__field {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    color: #dde0e9;

    label {
      font-weight: 400;
      padding: 10px 0;
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    &:focus-within {
      color: #4285f4;
    }
  }

  input {
    color: #838eaf;
    padding: 10px;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid #dde0e9;
    border-left: none;
    &:focus {
      color: #838eaf;
      outline: none;
      border-bottom: 4px solid #4285f4;
    }
  }

  .login__button {
    border-radius: 5px;
    color: white;
    background: #4285f4;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
  }

  .login__link {
    margin: 20px 0;
    a {
      color: #4285f4;
      text-decoration: none;
    }
  }
}
